.experiment
	border: 1px solid
	background: #EEE
	letter-spacing: .1rem
	border-radius: 4px

	.header
		text-align: center
		width: 100%
		background boxHeaderColor
		border-bottom-left-radius: 0
		border-bottom-right-radius: 0

		h3
			font-size: 22px
			padding: 5px 0
			color boxHeaderTextColor
			letter-spacing: .2rem
			border-bottom: 1px solid #000

	.context
		padding: 0 10px 10px 10px

		.controls
			text-align: center

		.content
			border: 1px solid
			height: 200px
			overflow-x: hidden
			overflow-y: scroll
			background boxHeaderTextColor
			padding: 5px
