include mixins.pug

doctype html
html
	head
		title Javascript Frameworks Performance Test 1.0
		meta(charset="utf-8")
		meta(name="description" content="Angular & React - Performance Comparison")
		meta(name="viewport" content="width=device-width")
		link(rel="stylesheet" href="bower_components/skeleton/css/skeleton.css")
		link(rel='stylesheet' href='stylesheets/style.css')
	body
		block content

		#progressBar.hidden
			.shadow-pane
				.box
					img(src="images/loading-icon.gif")
					div
						span Please wait...

		script(src="bower_components/angular/angular.min.js")
		script(src="bower_components/react/react.js")
		script(src="bower_components/react/react-dom.min.js")
		script(src="javascripts/app.js")
		script(src="javascripts/commons.js")
		script(src="javascripts/commonsDom.js")
		script(src="javascripts/index.js")
		script(src="javascripts/angular/record.directive.js")
		script(src="javascripts/react/experimentComponentRecord.js")
		script(src="javascripts/react/experimentComponent.js")
		script(src="javascripts/experiment/basicExperiment.js")
		script(src="javascripts/experiment/framework/vanillaExperiment.js")
		script(src="javascripts/experiment/framework/angularExperiment.js")
		script(src="javascripts/experiment/framework/reactExperiment.js")
		script(src="javascripts/experiment/framework/angularReactExperiment.js")
		script(src="javascripts/experiment/batch.js")
			