extends layout

block header
	#header.row.column.one
		h1 Javascript Frameworks Performance Test 1.0

block controls
	.row
		.columns.three &nbsp;
		#testsControls.tests-controls.columns.six
			form#form(action="#" onsubmit="return false;")
				div
					label(for="dataSetSize") Data set size:
					input#dataSetSize(type="number" placeholder="Default 200")
				div
					label(for="iterationsNumber") Number of tests:
					input#iterationsNumber(type="number" placeholder="Default 20")
				.log
				.buttons
					button.button-primary(type="submit" onclick="app.prepareBaseDataSet();") Create Data Set
					button.button-primary(type="submit" onclick="app.experiment.batch.run();") Do Experiments!
		.columns.three &nbsp;

block sample
	#examplePreview.row
		.columns.four &nbsp;
		.columns.four
			.header
				h2 Sample record
			+record()
		.columns.four &nbsp;

block experiments
	#experimentsContainer.container
		.row
			+experiment('vanilla-app', 'Vanilla',
				'app.experiment.framework.vanilla.runCreate(false)()',
				'app.experiment.framework.vanilla.runAppend(false)()'
			)

			+experiment('angular-app', 'Angular',
				'app.experiment.framework.angular.runCreate(false)()',
				'app.experiment.framework.angular.runAppend(false)()'
			)(ng-controller='mainController as ctrl')
				my-record(data="{{record}}" ng-repeat="record in ctrl.data.records track by record.id")

			+experiment('angular-app-without-trackby', 'Angular No Track',
				'app.experiment.framework.angularTrackBy.runCreate(false)()',
				'app.experiment.framework.angularTrackBy.runAppend(false)()'
			)(ng-controller='mainController as ctrl')
				my-record(data="{{record}}" ng-repeat="record in ctrl.data.records")

			+experiment('angular-react-app', 'Angular & React',
				'app.experiment.framework.angularReact.runCreate(false)()',
				'app.experiment.framework.angularReact.runAppend(false)()'
			)(ng-controller='mainController as ctrl')
		.row
			+experiment('react-app', 'React',
				'app.experiment.framework.react.runCreate(false)()',
				'app.experiment.framework.react.runAppend(false)()'
			)

block raport
	#raport.tests-report.row.hidden
		#createRaportTable
			.header
				h3 Raport for Create Elements
			table
				thead
					th Name
					th Minimum Time
					th Maximum Time
					th Average Time
				tbody

		#appendRaportTable
			.header
				h3 Raport for Append Elements
			table
				thead
					th Name
					th Minimum Time
					th Maximum Time
					th Average Time
				tbody

block footer
	footer#footer.row
		div.columns.twelve
			a(href="http://appdy.net") Made by Appdy.net
