shadowPaneColor = #B6B6B6FF
linkColor = #00B7FF
boxHeaderColor = #59d809
basicBorderRadius = 4px
boxHeaderTextColor = #FFF
boxBorderColor = #000

*
	letter-spacing: .1rem

body
	.container
		width: 100%

a
	color linkColor

h1
	font-size: 4rem

h2
	font-size: 3rem

div
	border-radius basicBorderRadius

.row
	margin: 10px 0
	
	.header h2
		text-align: center

#header
	text-align: center
	width: 100%

#header div
	margin: 10px

#testsControls
	border: 1px solid
	
	.log
		text-align: center
		
	form
		padding: 15px 15px 0 15px
		overflow: auto
		margin-bottom: 0px
		
		div
			overflow: auto
			
		label
			float: left
			margin-top: 5px
			
		input
			width: 230px
			float: right

		.buttons
			text-align: center
			clear: both
			
			button
				margin-left: 5px;
				margin-right: 5px;

#experimentsContainer
	margin-top: 20px

	.experiment
		border: 1px solid
		background: #EEE
		letter-spacing: .1rem
		border-radius: 4px

		.header
			text-align: center
			width: 100%
			background boxHeaderColor
			border-bottom-left-radius: 0
			border-bottom-right-radius: 0

			h3
				font-size: 22px
				padding: 5px 0
				color boxHeaderTextColor
				letter-spacing: .2rem
				border-bottom: 1px solid #000

		.context
			padding: 0 10px 10px 10px

			.controls
				text-align: center

			.content
				border: 1px solid
				height: 200px
				overflow-x: hidden
				overflow-y: scroll
				background boxHeaderTextColor
				padding: 5px

#raport
	border: 1px solid #000
	margin: 20px 0
	
	.header
		text-align: center

#raport table
	margin: auto
	width: 100%
	
	tbody tr td
		padding: 5px

tr.label
	font-weight: bold

#createRaportTable, #appendRaportTable
	margin: auto
	padding: 10px

#progressBar.hidden, .hidden
	display: none

#progressBar
	display: block
	position: fixed
	left: 0
	top: 0
	z-index: 10
	width: 100%
	height: 100%

	.shadow-pane
		background shadowPaneColor
		width: 100%
		height: 100%
		text-align: center
		opacity: .5

		.box
			position: relative
			background shadowPaneColor
			width: 100%
			height: 100%
			top: 35%

#footer
	text-align: center
	margin-top: 15px

.record
	border: 1px solid boxBorderColor
	overflow: auto
	margin: 10px 0
	padding: 10px

	.record-sm img
		display: inline-block
	
	a
		margin: 5px
		text-decoration: none
