<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular &amp; React - Performance Comparison</title>
    <meta name="description" content="Angular &amp; React - Performance Comparison">
    <meta name="viewport" content="width=device-width">
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/react/react.js"></script>
		<script src="bower_components/react/react-dom.min.js"></script>
		<script src="bower_components/moment/min/moment.min.js"></script>
		<link rel="stylesheet" href="bower_components/skeleton/css/skeleton.css">
		<link rel="stylesheet" href="style.css">
  </head>
  <body>
		<div class="container">
			<div id="header" class="row column one">
				<h1>Javascript Frameworks Performance Test 1.0</h1>
			</div>

			<div class="row">
				<div class="columns three">&nbsp;</div>
				<div id="testsControls" class="tests-controls columns six">
					<form id="form" action="#" onsubmit="return false;">
						<div>
							<label for="dataSetSize">Data set size:</label>
							<input type="number" id="dataSetSize" placeholder="Put fixed number here ex. 10000">
						</div>
						<div>
							<label for="iterationsNumber">Number of tests:</label>
							<input type="number" id="iterationsNumber" placeholder="Put fixed number here ex. 30">
						</div>
						<div class="log"></div>
						<div class="buttons">
							<button type="submit" class="button-primary" onclick="app.prepareDataSet();">Create Data Set</button>
							<button type="submit" class="button-primary" onclick="app.batch.run();">Do Experiments!</button>
						</div>
					</form>
				</div>
				<div class="columns three">&nbsp;</div>
			</div>

			<div id="raport" class="tests-report row" style="display: hidden;">
				<div class="column one">
					<table id="raportTable">
						<thead>
							<th>Name</th>
							<th>Minumum Time</th>
							<th>Maximum Time</th>
							<th>Average Time</th>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>

			<div class="experiments-container container row">
				<div id="vanillaApp" class="experiment columns three">
					<div class="header">
						<h3>Vanilla</h3>
					</div>
					<div class="context">
						<div class="controls">
							<button class="button-primary" onclick="app.experiments.vanilla.run()">Run Test</button>
						</div>
						<div class="results">
							Result: <span class="test-time"></span>
						</div>
						<div class="content"></div>
					</div>
				</div>

	  		<div id="angularApp" class="experiment columns three" ng-controller="mainController as ctrl">
					<div class="header">
						<h3>Angular</h3>
					</div>
					<div class="context">
						<div class="controls">
							<button class="button-primary" ng-click="ctrl.run()">Run Test</button>
						</div>
						<div class="results">
							<span>Result: {{ctrl.data.testTime}}</span>
						</div>
						<div class="content" ng-hide="ctrl.data.records.length"></div>
						<div class="content" ng-show="ctrl.data.records.length">
							<div ng-repeat="record in ctrl.data.records track by $index" on-finish="finished">
								<div>{{record}}</div>
							</div>
						</div>
					</div>
				</div>

				<div id="reactApp" class="experiment columns three">
					<div class="header">
						<h3>React</h3>
					</div>
					<div class="context">
						<div class="controls">
							<button class="button-primary" onclick="app.experiments.react.run()">Run Test</button>
						</div>
						<div class="results">
							Result: <span class="test-time"></span>
						</div>
						<div class="content"></div>
					</div>
				</div>

	  		<div id="angularReactApp" class="experiment columns three" ng-controller="mainController as ctrl">
					<div class="header">
						<h3>Angular &amp; React</h3>
					</div>
					<div class="context">
						<div class="controls">
							<button class="button-primary" ng-click="ctrl.run()">Run Test</button>
						</div>
						<div class="results">
							<span>Result: {{data.testTime}}</span>
						</div>
						<div class="content"></div>
					</div>
				</div>
			</div>

			<div id="footer" class="row">
				<div class="columns twelve">
					Made by Appdy.net
				</div>
			</div>
		</div>

		<div id="progressBar" class="hidden">
			<div class="shadow-pane">
				<div class="box">
					<img src="loading-icon.gif">
					<div>
						<span>Please wait...</span>
					</div>
				</div>
			</div>
		</div>

		<script src="index.js"></script>
		<script src="commons.js"></script>
		<script src="angular/onFinish.js"></script>
		<script src="react/experimentComponent.js"></script>
		<script src="experiments/basicExperiment.js"></script>
		<script src="experiments/vanillaExperiment.js"></script>
		<script src="experiments/angularExperiment.js"></script>
		<script src="experiments/reactExperiment.js"></script>
		<script src="experiments/angularReactExperiment.js"></script>
		<script src="experiments/batch.js"></script>
  </body>
</html>
