<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular &amp; React - Performance Comparison</title>
    <meta name="description" content="Angular &amp; React - Performance Comparison">
    <meta name="viewport" content="width=device-width">
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/react/react.js"></script>
		<script src="bower_components/react/react-dom.min.js"></script>
		<script src="bower_components/moment/min/moment.min.js"></script>
		<link rel="stylesheet" href="style.css">
  </head>
  <body>
		<div>
			Status: <span id="appStatus"></span>
		</div>

		<div class="tests-container">
			<div id="vanillaApp" class="container">
				<div class="test">
					<header>
						<h2>Vanilla JS</h2>
					</header>
				</div>
				<div class="controls">
					<button onclick="tests.vanilla.runTest()">Run Test</button>
				</div>
				<div class="results">
					time: <span class="test-time"></span>
				</div>
				<div class="content"></div>
			</div>

  		<div id="angularApp" class="container" ng-controller="mainController as ctrl">
				<div class="test">
					<header>
						<h2>Angular.js</h2>
					</header>
				</div>
				<div class="controls">
					<button ng-click="ctrl.runTest()">Run Test</button>
				</div>
				<div class="results">
					<span>time: {{ctrl.data.testTime}}</span>
				</div>
				<div class="content" ng-hide="ctrl.data.records.length"></div>
				<div class="content" ng-show="ctrl.data.records.length">
					<div ng-repeat="record in ctrl.data.records track by $index" on-finish="finished!">
						<div>{{record}}</div>
					</div>
				</div>
			</div>

			<div id="reactApp" class="container">
				<div class="test">
					<header>
						<h2>React.js</h2>
					</header>
				</div>
				<div class="controls">
					<button onclick="tests.react.runTest()">Run Test</button>
				</div>
				<div class="results">
					time: <span class="test-time"></span>
				</div>
				<div class="content"></div>
			</div>

			<div id="angularReactApp" class="container">
				<div class="test">
					<header>
						<h2>Angular.js &amp; React.js</h2>
					</header>
				</div>
				<div class="controls">
					<button>Run Test</button>
				</div>
				<div class="results">
					<span>time: {time}</span>
				</div>
				<div class="content"></div>
			</div>
		</div>

		<script src="index.js"></script>
		<script src="angular/index.js"></script>
		<script src="react/index.js"></script>
		<script src="angularReact/index.js"></script>
  </body>
</html>
